# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Runtime data
lib-cov
coverage
.nyc_output
.grunt
bower_components

# Build artifacts
dist/
build/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
.history/
*.code-workspace

# Environment variables
.env
.env.local
.env.*.local

# Azure
*.azurepubxml
PublishProfiles/
App_Data/
