<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<!-- Force HTTPS -->
				<rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
					<match url="(.*)" ignoreCase="true" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
				</rule>

				<!-- Redirect www to non-www -->
				<rule name="Remove WWW" enabled="true" stopProcessing="true">
					<match url="(.*)" ignoreCase="true" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^www\.(.*)$" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{C:1}/{R:1}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
